.pieContainer {
    height: 100px;
    width: 100px;
    position: relative;
    margin-top: 10px;
}

.pieBackground{
    background-color: #333;
    position: absolute;
    height: 100px;
    width: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

    -webkit-box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, .75);
    box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, .75);
}

.stat-circle-cover {
    position: absolute;
    top: 10%;
    right: 10%;

    background-color: #333;
    height: 80%;
    width: 80%;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

    -moz-box-shadow:inset 0px 0px 5px #666;
    -webkit-box-shadow:inset 0px 0px 5px #666;
    box-shadow:inset 0px 0px 1px #666;
}

.stat-circle-cover span.stat-number {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    line-height: 80px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    font-family: Helvetica-Neue, Helvetica, arial, verdana, sans-serif;
    font-weight: bold;
}

.pie {
    position: absolute;
    height: 100px;
    width: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    clip: rect(0px, 50px, 100px, 0px);
}

.hold {
    position: absolute;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    clip: rect(0px, 100px, 100px, 50px);
}

#pieSlice25 .pie {
    background-color: #C43C35;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);

    background-image: -webkit-linear-gradient(top, #62C462, #57A957);
}

#pieSlice50 .pie {
    background-color: #d5730e;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);


}

#pieSlice75_1 .pie {
    background-color: #98ff58;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#pieSlice75_2 {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}

#pieSlice75_2 .pie {
    background-color: #98ff58;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#pieSlice99_1 .pie {
    background-color: #5efb1d;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#pieSlice99_2 {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}

#pieSlice99_2 {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}

#pieSlice99_2 .pie {
    background-color: #5efb1d;
    -webkit-transform: rotate(160deg);
    -moz-transform: rotate(160deg);
    -o-transform: rotate(160deg);
    transform: rotate(160deg);

}
#pieSlice55_1 .pie {
    background-color: #f3af32;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#pieSlice55_2 {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}

#pieSlice55_2 .pie {
    background-color: #f3af32;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
}
#pieSlice70_1 .pie {
    background-color:#cef94a;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#pieSlice70_2 {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}

#pieSlice70_2 .pie {
    background-color: #cef94a;
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    transform: rotate(80deg);
}

#pieSlice60_1 .pie {
    background-color: #f9e34a;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#pieSlice60_2 {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}

#pieSlice60_2 .pie {
    background-color: #f9e34a;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

.skill-name {
    margin-left: 117px;
    font-size: 33px;
}
#skills {
    margin-left: 103px;
}



